@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Ojuju:wght@500&family=Reddit+Mono:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom-1735754290 {
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  
}

.custom-shape-divider-bottom-1735754290 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 283px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1735754290 .shape-fill {
    fill: white;
  }

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1735754290 {
    min-height: 0vh;
  }
  .custom-shape-divider-bottom-1735754290 svg {
    width: calc(300% + 1.3px);
    height: 436px;
  }
}
 

 